<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Pacientes</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <a href="index.html" class="btn-home">⬅ Voltar ao Início</a>
    <h1>Gestão de Pacientes</h1>

    <div class="form-section">
        <h2 id="form-title">Cadastrar Paciente</h2>
        <form id="paciente-form">
            <input type="hidden" id="paciente-id">

            <label>Nome:</label>
            <input type="text" id="nome" placeholder="Nome Completo" required>

            <label>CPF:</label>
            <input type="text" id="cpf" placeholder="000.000.000-00" required>

            <label>Data de Nascimento:</label>
            <input type="date" id="dataNascimento" required>

            <label>Telefone:</label>
            <input type="text" id="telefone" placeholder="(00) 00000-0000" required>

            <label>Endereço:</label>
            <input type="text" id="endereco" placeholder="Endereço Completo" required>

            <button type="submit" id="btn-save" style="margin-top: 10px;">Salvar</button>
            <button type="button" id="btn-cancel" style="display:none; margin-top: 10px;" onclick="resetForm()">Cancelar</button>
        </form>
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody id="paciente-table-body"></tbody>
    </table>
</div>
<script src="pacienteScript.js"></script>
</body>
</html>